django==1.4.3
pymongo==2.4.1
pymysql
flup
fs
# mysql-client
mako==0.7.3
requests==0.14.2
multiprocessing
gunicorn
path.py
decorator
MySQL-python==1.2.4c1
simplejson
South==0.7.6
django-celery==3.0.11
celery-with-redis==3.0
django-pipeline==1.3.6
