django==1.4.8
pymongo==2.4.1
pymysql==0.6.1
flup==1.0.3.dev-20110405
fs==0.4.0
mako==0.7.3
requests==1.2.3
multiprocessing==2.6.2.1
gunicorn==0.17.4
path.py==3.0.1
decorator==3.4.0
MySQL-python==1.2.4c1
simplejson==3.3.1
South==0.7.6
-e git://github.com/edx/django-pipeline.git@c5a4848d3d8fa90a7da4a4007f5653be40cccdd9#egg=django_pipeline-dev
-e git://github.com/edx/django-staticfiles.git@6d2504e5c84a3003b4573e0ba0f11adf7583d372#egg=django_staticfiles-dev
