{% extends "base.html" %}
{% block header %}
    <h1>Login to Analytics</h1>
{% endblock %}
{% block content %}
    {%if form.errors %}
        <p> Invalid username/password combination, please try again </p>
    {% endif %}
    <div class="row">
        <div class="span12">
            <form action="{% url django.contrib.auth.views.login %}" method="post" class="form-horizontal">
                {% csrf_token %}
                {{form.username.label_tag}}{{form.username}}
                {{form.password.label_tag}}{{form.password}}
                <input type="submit" id="submit" name="submit" value="Sign in" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}