{% extends "base.html" %}
{% block title %}
    <title>Dashboard - edX</title>
{% endblock %}
{% block additional_js %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script>
        /* this is the contents of the multi plugin */
// You can yank the plugin and patches from here: http://code.google.com/p/flot/issues/detail?id=159
(function ($) {
    function init(plot) {
        var multiple = false;
        var sArray = [];
        var totWidth = 0;
        
        function procRawData(plot, series, data, datapoints) {
            if(series.bars.show) {
                sArray.push(series);
            }
        }
        
        function procDatapoints(plot, series, datapoints) {
            //Ensure we only process these once
            if(series.bars.show && series.bars.barLeft==undefined) {
                if(totWidth==0) {
                    for(var j = 0; j < sArray.length; j++) {
                        totWidth+=sArray[j].bars.barWidth;
                    }
                }
                
                var runWidth=0;
                for(var k = 0; k < sArray.length; k++) {
                    s=sArray[k];
                    if(s==series) {
                        break;
                    }
                    runWidth+=s.bars.barWidth;
                }
                series.bars.barLeft = runWidth-(totWidth/2);
            }
        }
        
        function checkMultipleBarsEnabled(plot, options) {
            if (options.multiplebars) {
                multiple = options.multiplebars;
                sArray=[];
                totWidth=0;

                plot.hooks.processRawData.push(procRawData);
                plot.hooks.processDatapoints.push(procDatapoints);
            }
        }
    
        plot.hooks.processOptions.push(checkMultipleBarsEnabled);
    }
    
    var options = { multiplebars: false };

    $.plot.plugins.push({
        init: init,
        options: options,
        name: "multiplebars",
        version: "0.1"
    });
})(jQuery);   
/* end of multi plugin */
    </script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script>
    
    var sel_uni, sel_course, sel_term;
    
    var course_enrollment_data, course_enrollment_unis, course_enrollment_courses, course_enrollment_terms, course_enrollment_terms_by_course, course_enrollment_courses_by_term;
    
    function load_course_enrol_stats_by_course(uni, course)
    {
        var j=1, d1 = [], ticks = [];
        for (var term in course_enrollment_terms_by_course[uni][course])
        {
            d1.push([j, parseInt(course_enrollment_terms_by_course[uni][course][term])]);
            ticks.push([j, term]);
            j++;
        }       
    
        $('#graph').css('height', '500px');
        $.plot($("#graph"), 
            [{
                data: d1,
                bars: { 
                    show: true,
                    align: "center"
                }
            }],
            {
                xaxis: {
                    ticks: ticks
                }
            });
    }
    function load_course_enrol_stats_by_term(uni, term)
    {       
        var j=1, d1 = [], ticks = [];
        for (var course in course_enrollment_courses_by_term[uni][term])
        {
            d1.push([j, parseInt(course_enrollment_courses_by_term[uni][term][course])]);
            ticks.push([j, course]);
            j++;
        }                     
    
        $('#graph').css('height', '500px');
        $.plot($("#graph"), 
            [{
                data: d1,                
                bars: { 
                    show: true,
                    align: "center"
                }
            }],
            {
                xaxis: {
                    ticks: ticks
                },
            });
    }
    function load_course_enrol_stats_by_term_all(uni)
    { 
        var i,j; var d = []; var ticks = [];
        for (i=0; i<course_enrollment_courses[uni].length;i++)
        {
            course = course_enrollment_courses[uni][i];
            var d1 = [];
            for (j=0;j<course_enrollment_terms[uni].length;j++)
            {
                d1.push([j, course_enrollment_terms_by_course[uni][course][course_enrollment_terms[uni][j]]]);
            }
            
            d.push({
                label: course,
                data: d1,
                bars: { 
                    order: i+1,
                    barWidth: 1.0/course_enrollment_courses[uni].length,
                    show: true,
                    align: "center"
                }
            });
        }
        //alert(JSON.stringify(d));
        for (i=0;i<course_enrollment_terms[uni].length;i++)
            ticks.push([i, course_enrollment_terms[uni][i]]);
    
        $('#graph').css('height', '500px');
        $.plot($("#graph"), 
            d,
            {
                xaxis: {
                    ticks: ticks
                },
                grid: {hoverable: true},
                multiplebars:true,
            });
    }
    function load_course_enrol_stats_by_course_all(uni)
    {
        var i,j; var d = []; var ticks = [];
        for (i=0; i<course_enrollment_terms[uni].length;i++)
        {
            term = course_enrollment_terms[uni][i];
            var d1 = [];
            for (j=0;j<course_enrollment_courses[uni].length;j++)
            {
                d1.push([j, course_enrollment_courses_by_term[uni][term][course_enrollment_courses[uni][j]]]);
            }
            
            d.push({
                label: term,
                data: d1,
                bars: { 
                    order: i+1,
                    show: true,
                    barWidth: 1.0/course_enrollment_terms[uni].length,
                    align: "center"
                },
                legend: {
                    show: true,
                    position: "ne",
                    noColumns: course_enrollment_terms[uni].length
                }       

            });
        }
        //alert(JSON.stringify(d));
        for (i=0;i<course_enrollment_courses[uni].length;i++)
            ticks.push([i, course_enrollment_courses[uni][i]]);
    
        $('#graph').css('height', '500px');
        $.plot($("#graph"), 
            d,
            {
                xaxis: {
                    ticks: ticks
                },
                grid: {hoverable: true},
                multiplebars:true
            });
    }
    function load_course_from_univ(uni)
    {       
        sel_uni = uni;
        
        $('#cat-nav-bycourse').empty().append(
            $('<li>').append(
                $('<a href="#" onclick="load_course_enrol_stats_by_course_all(sel_uni);">All</a>')
            )
        ).append(
            $('<li class="divider">')
        );
        $('#cat-nav-byterm').empty().append(
            $('<li>').append(
                $('<a href="#" onclick="load_course_enrol_stats_by_term_all(sel_uni);">All</a>')
            )
        ).append(
            $('<li class="divider">')
        );
                
        
        for (i=0;i<course_enrollment_courses[uni].length;i++)
            $('#cat-nav-bycourse').append(
                $('<li>').append(
                    $('<a href="#" onclick="load_course_enrol_stats_by_course(\'' + uni + '\', \'' + course_enrollment_courses[uni][i] + '\');">' + course_enrollment_courses[uni][i] + '</a>')
                )
            );
        
        for (i=0;i<course_enrollment_terms[uni].length;i++)
            $('#cat-nav-byterm').append(
                $('<li>').append(
                    $('<a href="#" onclick="load_course_enrol_stats_by_term(\'' + uni + '\', \'' + course_enrollment_terms[uni][i] + '\');">' + course_enrollment_terms[uni][i] + '</a>')
                )
            );  
            
        load_course_enrol_stats_by_course_all(uni);      
    }
    function load_global_rcontent(node)
    {
        if (node == '_course_enrollment') {
            jQuery.getJSON('/view/global/'+node, 
                function (data) {
                    course_enrollment_data = data;
                    $('#rcontent').html('<ul id="uni-nav" class="nav nav-tabs">');
                    course_enrollment_unis = []; var i;
                    course_enrollment_courses = { };
                    course_enrollment_terms = { };
                    course_enrollment_courses_by_term = { };
                    course_enrollment_terms_by_course = { };
                    for (i=0;i<data['course_id'].length;i++)
                    {
                        mch = data['course_id'][i].match(/^(.*?)\/(.*?)\/(.*?)$/)
                        uni = mch[1]; course = mch[2]; term = mch[3];
                        if (course_enrollment_unis.indexOf(uni) === -1)
                        { 
                            course_enrollment_unis.push(uni);
                            course_enrollment_courses[uni] = [];
                            course_enrollment_terms[uni] = [];
                            course_enrollment_courses_by_term[uni] = { };
                            course_enrollment_terms_by_course[uni] = { };
                        }
                        if (course_enrollment_courses[uni].indexOf(course) === -1)
                            course_enrollment_courses[uni].push(course);
                        if (course_enrollment_terms[uni].indexOf(term) === -1)
                            course_enrollment_terms[uni].push(term);
                        
                        if (course_enrollment_courses_by_term[uni][term] === undefined)
                            course_enrollment_courses_by_term[uni][term] = {};
                        course_enrollment_courses_by_term[uni][term][course] = data['students'][i];
                        
                        if (course_enrollment_terms_by_course[uni][course] === undefined)
                            course_enrollment_terms_by_course[uni][course] = {};
                        course_enrollment_terms_by_course[uni][course][term] = data['students'][i];
                    }
                    
                    for (i=0;i<course_enrollment_unis.length;i++)
                    {
                        $('#uni-nav').append(
                            $('<li class="uni-nav-li">').append(
                                $('<a href="#" onclick="$(\'.uni-nav-li\').attr(\'class\', \'uni-nav-li\'); $(this).parent().attr(\'class\', \'active uni-nav-li\'); load_course_from_univ(\'' + course_enrollment_unis[i] + '\');">' + course_enrollment_unis[i] + '</a>')
                            )
                        );                        
                    }
                    
                    $('#rcontent').append(
                        $('<ul id="cat-nav" class="nav nav-pills">').append(
                            $('<li class="dropdown">').append(
                                $('<a class="dropdown-toggle" data-toggle="dropdown" href="#">By Course <b class="caret"></b></a>')
                            ).append(
                                $('<ul id="cat-nav-bycourse" class="dropdown-menu"></ul>')
                            )
                        ).append(
                            $('<li class="dropdown">').append(
                                $('<a class="dropdown-toggle" data-toggle="dropdown" href="#">By Term<b class="caret"></b></a>')
                            ).append(
                                $('<ul id="cat-nav-byterm" class="dropdown-menu">')
                            )
                        )
                    );
                
                    $('#rcontent').append('<div id="graph"></div>');
                
                    /*var d1 = []; var ticks = [];
                    for (i=0;i<data['course_id'].length;i++)
                    {  
                        d1.push([i, parseInt(data['students'][i])]);
                        ticks.push([i, data['course_id']]);
                    }
                    $('#graph').css('height', '500px');
                    $.plot($("#graph"), [
                        {
                            data: d1,
                            bars: { show: true }
                        }       
                    ],
                    {
                        xaxis: {
                            ticks: ticks
                        }
                    });
                    */
                    $(".uni-nav-li").first().children().first().click();

                });
        } else {
            $('#rcontent').load("/view/global/"+node);
        }
    }
    function load_user_rcontent(node)
    {
        $('#rcontent').load("/view/user/"+node+"?user="+$('#username_text').val());
    }
    function tidy_str(str)
    {
        return str.replace('_', ' ').replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }
    $(function() {
        /*$( "#tabs" ).tabs();        

        $.get('/probe/view/global', function(data) {
          var split_data = data.split('\n');
          var i;
          for(i = 0 ; i< split_data.length; i++) {
	    $("#globalselect").append('<option value='+split_data[i]+'=>'+split_data[i]+'</option>');
          }
        })
        $( "#global_tab" ).change(function(){
           $("#global_data").load("/view/global/"+$("select option:selected").text());
         });

        $.get('/probe/view/user', function(data) {
          var split_data = data.split('\n');
          var i;
          for(i = 0 ; i< split_data.length; i++) {
	    $("#userselect").append('<option value='+split_data[i]+'=>'+split_data[i]+'</option>');
          }
        })
        $( "#user_tab" ).change(function(){
           $("#user_data").load("/view/user/"+$("select option:selected").text()+"/"+$("#user_input").val());
         });       
         */
        $("#global_tab").click(function(){
            $.get('/probe/view/global', function(data) {
                $('#global_tab').parent().attr('class', 'active');
                $('#user_tab').parent().attr('class', '');
                var split_data = data.split('\n');
                var i;
                $('#sidebar_ul').empty();
                for(i = 0 ; i< split_data.length; i++){
	                $("#sidebar_ul").append('<li><a href="#" onclick="load_global_rcontent(\'' + split_data[i] + '\');">'+tidy_str(split_data[i])+'</li>');
                }
                $("#username_text").attr('placeholder', "")
            });
        });
         
        $("#user_tab").click(function(){
            $.get('/probe/view/user', function(data) {
                $('#global_tab').parent().attr('class', '');
                $('#user_tab').parent().attr('class', 'active');
                var split_data = data.split('\n');
                var i;
                $('#sidebar_ul').empty();
                for(i = 0 ; i< split_data.length; i++){
	                $("#sidebar_ul").append('<li><a href="#" onclick="load_user_rcontent(\'' + split_data[i] + '\');">'+tidy_str(split_data[i])+'</li>');
                }
                $("#username_text").attr('placeholder', "Username")
            });
        });
        
        $('#global_tab').click();
    });
    </script>
{% endblock %}
{% block content %}


    <div class="container-fluid"><br /><br />
        <ul class="nav nav-tabs">
            <li class="active"><a href="#" id="global_tab">Global</a></li>
            <li><a href="#" id="user_tab">User</a></li>
            <li><form class="navbar-search pull-left">
    <input type="text" id="username_text" class="search-query" placeholder="">
    </form></li>
        </ul>
    
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="sidebar_ul">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <div class="span9" id="rcontent">      
          
          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p></p>
      </footer>

    </div><!--/.fluid-container-->
     <!--
    <div id="tabs">
        <ul>
            <li><a href="#global_tab2">Global</a></li>
            <li><a href="#user_tab2">User</a></li>
        </ul>
        <div id="global_tab">
          <table>
        <tr>
    <td>
     <select id="globalselect" name="globalselect" size=10 width=150 style="width:150px">
     </select>
    </td><td><div id="global_data"></div></td></tr>
          </table>
        </div>
        <div id="user_tab">
          <table>
        <tr><td> <select id="userselect" name="userselect" size=10 width=150 style="width:150px"> </select> <br><input id="user_input" style="width:150px">
    </td><td><div id="user_data"></div></td></tr>
          </table>
        </div>
    </div>

     -->
{% endblock %}
