<div class="chart-wrapper" >

    <div class="chart-header">
         <h4 id="{{graph_name}}" class="{{chart_title_class}}">{{ graph_title }}</h4>
    </div>

    <div class="chart">
        <div id="{{graph_name}}" style="width:700px;height:400px"></div>
    </div>

</div>

<script>
function render{{graph_name}}()
{
    var graph_name = "{{graph_name}}";
    var chart_data = {{chart_data}};
    var ticks = {{tick_data}};

    $.plot($("div#" + graph_name), [
        {
            data: chart_data,
        }],
        {

            grid: {
                hoverable: true
            },
            xaxis: {
                mode: null,
                axisLabel: "{{x_label}}",
                min: {{x_min}},
                max: {{x_max}}
            },
            yaxis: {
                mode: null,
                axisLabel: "{{y_label}}"
            },
            series: {
                lines: { show: true },
                points: {
                    radius: 3,
                    show: true,
                    fill: true
                }
            },
            tooltip: true,
            tooltipOpts: {
                content: "Score: %x.3  Count: %y",
                shifts: {
                    x: -60,
                    y: 25
                }
            }
        }
);
}

render{{graph_name}}();
</script>