<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 9]>
      <script type="text/javascript">
        var html5 = { 'elements': 'abbr article aside audio bdi data
    datalist details figcaption figure footer header hgroup mark meter nav
    output progress section summary time video' };
      </script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></
    script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load compressed %}
    {% compressed_js 'util' %}
    {% compressed_css 'bootstrap' %}
    {% compressed_css 'util_css' %}
    {% block additional_js %}
    {% endblock %}
    {% block title %}
        <title>Analytics</title>
    {% endblock %}
    <meta name="csrf-token" content="{{csrf_token}}">
</head>
<body>

<div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            {% block nav %}
                <a href="/" class="brand">edX Analytics</a>
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li class="">
                            <a href="/frontend/logout">Logout</a>
                        </li>
                        <li class="">
                            <a href="/new_dashboard">Dashboard</a>
                        </li>
                        <li class="">
                            <a href="/dashboard">Old Dashboard</a>
                        </li>
                    {% else %}
                        <li class="">
                            <a href="/frontend/login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
    </div>
</div>

<header class="subhead">
    <div class="container">
        {% block header %}
        {% endblock %}
    </div>
</header>

<div class="container">

{% block content %}
{% endblock %}

</div>
</body>
</html>