<script>
    <%!
    import simplejson as json
    %>
    course_enrollment_unis = ${json.dumps(unis)};
    course_enrollment_courses = ${json.dumps(courses)};
    course_enrollment_terms = ${json.dumps(terms)};
    course_enrollment_terms_by_course = ${json.dumps(terms_by_course)};
    course_enrollment_courses_by_term = ${json.dumps(courses_by_term)};
    
    var sel_uni, sel_course, sel_term;   
         
    function load_course_enrol_stats_by_course(uni, course)
    {
        var j=1, d1 = [], ticks = [];
        for (var term in course_enrollment_terms_by_course[uni][course])
        {
            d1.push([j, parseInt(course_enrollment_terms_by_course[uni][course][term])]);
            ticks.push([j, term]);
            j++;
        }       
    
        $('#graph').css('height', '500px');
        $.plot($("#graph"), 
            [{
                data: d1,
                bars: { 
                    show: true,
                    align: "center"
                }
            }],
            {
                xaxis: {
                    ticks: ticks
                }
            });
    }
    function load_course_enrol_stats_by_term(uni, term)
    {       
        var j=1, d1 = [], ticks = [];
        for (var course in course_enrollment_courses_by_term[uni][term])
        {
            d1.push([j, parseInt(course_enrollment_courses_by_term[uni][term][course])]);
            ticks.push([j, course]);
            j++;
        }                     
    
        $('#graph').css('height', '500px');
        $.plot($("#graph"), 
            [{
                data: d1,                
                bars: { 
                    show: true,
                    align: "center"
                }
            }],
            {
                xaxis: {
                    ticks: ticks
                },
            });
    }
    function load_course_enrol_stats_by_term_all(uni)
    { 
        var i,j; var d = []; var ticks = [];
        for (i=0; i<course_enrollment_courses[uni].length;i++)
        {
            course = course_enrollment_courses[uni][i];
            var d1 = [];
            for (j=0;j<course_enrollment_terms[uni].length;j++)
            {
                d1.push([j, course_enrollment_terms_by_course[uni][course][course_enrollment_terms[uni][j]]]);
            }
            
            d.push({
                label: course,
                data: d1,
                bars: { 
                    order: i+1,
                    barWidth: 1.0/course_enrollment_courses[uni].length,
                    show: true,
                    align: "center"
                }
            });
        }
        //alert(JSON.stringify(d));
        for (i=0;i<course_enrollment_terms[uni].length;i++)
            ticks.push([i, course_enrollment_terms[uni][i]]);
    
        $('#graph').css('height', '500px');
        $.plot($("#graph"), 
            d,
            {
                xaxis: {
                    ticks: ticks
                },
                //grid: {hoverable: true},
                multiplebars:true,
            });
    }
    function load_course_enrol_stats_by_course_all(uni)
    {
        var i,j; var d = []; var ticks = [];
        for (i=0; i<course_enrollment_terms[uni].length;i++)
        {
            term = course_enrollment_terms[uni][i];
            var d1 = [];
            for (j=0;j<course_enrollment_courses[uni].length;j++)
            {
                d1.push([j, course_enrollment_courses_by_term[uni][term][course_enrollment_courses[uni][j]]]);
            }
            
            d.push({
                label: term,
                data: d1,
                bars: { 
                    order: i+1,
                    show: true,
                    barWidth: 1.0/course_enrollment_terms[uni].length,
                    align: "center"
                },
                legend: {
                    show: true,
                    position: "ne",
                    noColumns: course_enrollment_terms[uni].length
                }       

            });
        }
        //alert(JSON.stringify(d));
        for (i=0;i<course_enrollment_courses[uni].length;i++)
            ticks.push([i, course_enrollment_courses[uni][i]]);
    
        $('#graph').css('height', '500px');
        $.plot($("#graph"), 
            d,
            {
                xaxis: {
                    ticks: ticks
                },
                //grid: {hoverable: true},
                multiplebars:true
            });
    }
    function load_course_from_univ(uni)
    {       
        sel_uni = uni;
        
        $('#cat-nav-bycourse').empty().append(
            $('<li>').append(
                $('<a href="#" onclick="load_course_enrol_stats_by_course_all(sel_uni);">All</a>')
            )
        ).append(
            $('<li class="divider">')
        );
        $('#cat-nav-byterm').empty().append(
            $('<li>').append(
                $('<a href="#" onclick="load_course_enrol_stats_by_term_all(sel_uni);">All</a>')
            )
        ).append(
            $('<li class="divider">')
        );
                
        
        for (i=0;i<course_enrollment_courses[uni].length;i++)
            $('#cat-nav-bycourse').append(
                $('<li>').append(
                    $('<a href="#" onclick="load_course_enrol_stats_by_course(\'' + uni + '\', \'' + course_enrollment_courses[uni][i] + '\');">' + course_enrollment_courses[uni][i] + '</a>')
                )
            );
        
        for (i=0;i<course_enrollment_terms[uni].length;i++)
            $('#cat-nav-byterm').append(
                $('<li>').append(
                    $('<a href="#" onclick="load_course_enrol_stats_by_term(\'' + uni + '\', \'' + course_enrollment_terms[uni][i] + '\');">' + course_enrollment_terms[uni][i] + '</a>')
                )
            );  
            
        load_course_enrol_stats_by_course_all(uni);      
    }
</script>
<ul id="uni-nav" class="nav nav-tabs">
    % for uni in unis:
        <li class="uni-nav-li"><a href="#" onclick="$('.uni-nav-li').attr('class', 'uni-nav-li'); $(this).parent().attr('class', 'active uni-nav-li'); load_course_from_univ('${uni}');">${uni}</a></li>
    % endfor
</ul>
    
<ul id="cat-nav" class="nav nav-pills">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">By Course <b class="caret"></b></a>
        <ul id="cat-nav-bycourse" class="dropdown-menu"></ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">By Term<b class="caret"></b></a>
        <ul id="cat-nav-byterm" class="dropdown-menu"></ul>
    </li>
</ul>

<script>$(".uni-nav-li").first().children().first().click();</script>

<div id="graph"></div>
