{% extends "base.html" %}
{% block additional_js %}
    {% load compressed %}
    {% compressed_js 'new_dashboard' %}
{% endblock %}
{% block content %}

    <script>
        function scrape_courses()
        {
            $.getJSON('/query/global/available_courses', function(data){
                var i;
                var course_dropdown_tag = "#dropdown_select_course";
                $(course_dropdown_tag).empty();
                for(i = 0 ; i< data.length; i++){
                    $(course_dropdown_tag).append('<li><a class="course_select" href="#" course_name="'+ data[i] +'" >' + data[i] +'</a></li>');
                }
                setup_course_links();
            });
        }
        function tidy_str(str)
        {
            return str.replace(/_/g," ").replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        }
        function load_analytics(url)
        {
            $('.alert-container').empty()
            $.get(url, function(data) {
                var split_data = data.split('\n');
                var i;
                var sidebar_tag = '#sidebar_ul';
                $(sidebar_tag).empty();
                for(i = 0 ; i< split_data.length; i++){
                    $(sidebar_tag).append('<li><a class="analytic_select" href="#" analytic_name="'+ split_data[i] +'" >' + tidy_str(split_data[i]) +'</a></li>');
                }
                query_analytic();
            });
        }
        function create_new_alert(string_to_show)
        {
            $('.alert-container').empty()
            $('.alert-container').html(string_to_show)
            $('.alert-container').show()
        }
        function query_analytic()
        {
            $(".analytic_select").click(function(event){
                $('.alert-container').empty()
                target = $(event.target)
                course_name = $('a.dropdown-toggle').attr('current_course')
                if(course_name==undefined)
                {
                    create_new_alert(['<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>',
                        '<h4>Course not selected!</h4>',
                        '<p>You must choose a course above before you can get an analytic.</p></div>'].join("\n"));
                } else{
                    analytic_name = target.attr('analytic_name')
                    var content_tag = '#rcontent';
                    $(content_tag).empty();
                    query_url = '/view/course/' + analytic_name + '?course=' + course_name
                    $.get(query_url, function(data){
                        $(content_tag).append(data)
                    }).fail(function() {
                                create_new_alert(['<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>',
                                    '<h4>Problem retrieving analytic.</h4>',
                                    '<p>Please choose a different analytic.</p></div>'].join("\n"));
                            });
                }
            });
        }
        function setup_course_links()
        {
            $(".course_select").click(function(event){
                target = $(event.target)
                change_name = $('a.dropdown-toggle')
                change_name.text(target.attr('course_name'))
                change_name.attr('current_course', target.attr('course_name'))
                $('.alert-container').empty()
            });
        }
        $(function() {
            $("#course_tab").click(function(){
                scrape_courses();
                load_analytics('/probe/view/course');
                $('#course_name_box')[0].style.display = "none";
                $('#course_name_dropdown')[0].style.display = "block";
            });

            $('#course_tab').click();
        });

    </script>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#" id="course_tab">Course</a></li>
            <li class="course_select_link dropdown" id="course_name_dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select Course</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="dropdown_select_course">
                </ul>
            </li>
            <li class="param_textbox" id="course_name_box"><form class="navbar-search pull-left">
                <input type="text" id="coursename_text" class="search-query" placeholder="Course name">
            </form></li>
        </ul>

        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list" id="sidebar_ul">
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->

            <div class="span9">
                <div class="row-fluid">
                <div class="alert-container">
                </div>
                </div>
                <div class="row-fluid">
                    <div id="rcontent"></div>
                </div>

            </div><!--/span-->
        </div><!--/row-->
    </div>
{% endblock %}